<% if @sushi %>
    <h1><%= @sushi.name %>'s ingredients:</h1>
<% end %>

<h4>Name: <%= @ingredient.name %></h4>
<h5>Calories: <%= @ingredient.calories %></h5>
<h5>Serving Size: <%= @ingredient.serving_size %></h5>